.container {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -7px;
}

/* Navigation */
.site-nav {
    display: table;
    position: fixed;
    z-index: 10;
    width: 100%;
}

ul {
  display: table; 
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display:table-cell; 
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* End Site Navigation */

.page-top {
    text-align: center;
    width: auto;
    padding: 15rem 0; 
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(Images/unsplash.jpg) 100%;
    background-size: cover;
}

 h1 {
    margin-top: -100px;
    font-family: 'COLONNA MT';
    font-size: 500%;
    line-height: 5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
h2 {
    font-family: 'MV BOLI';
    font-size: 200%;
}
/*About Settings*/
.About h2{
    text-align: center;
    margin-bottom: -10px;
}

.About p {
    margin-bottom: 20px;
}

/*Portfolio Settings*/
.Portfolio h2{
    text-align: center;
}

.Portfolio img{
    max-width: 100%;
	height: auto;
    margin-bottom: 20px;
}

/* Contact Settings*/
.Contact-Me {
    margin-bottom: 150px;
}
.Contact-Me h2{
    text-align: center;
}

.main-body {
    background-color: darkgray;
}

/*Foter Settings*/
footer {
	text-align: center;
	font-size: 85%;
	color: azure;
	padding-bottom: 20px;
	padding-top: 20px;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

/* Grid */
.row {
    margin-left: 20px;
	margin-right: auto;
}

.col {
	width: 100%;
	float: left;
	padding-right: 20px;
	box-sizing: border-box;
}

.col-xs-11 {width: 91.662%}
.col-xs-10 {width: 83.332%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.662%;}
.col-xs-7 {width: 58.331%}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.662%}
.col-xs-4 {width: 33.332%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.662%;}
.col-xs-1 {width: 8.332%;}

/*Contact Me Form*/
.contact-form {
    max-width: 100%;
	height: auto;
    margin-right: 15px;
    margin-left: 15px;
}
.contact-form .box .location {
    max-width: 30%;
    margin-top: 5px;
}
.contact-form .box .call {
    max-width: 30%;
    margin-top: 5px;
}
.contact-form .box .mail {
    max-width: 40%;
    margin-top: -10px;
}
.contact-form .box {
    position:relative;
    width: 300px;
    height:100px;
    box-sizing:border-box;
    text-align:center;
    margin:0 10px;
    background:#353252;
    overflow:hidden;
    border-radius:4px;
    box-shadow:0 0 0 2px rgba(0,7,10,1);
}
.contact-form .box .icon {
    width:100%;
    height:100%;
    background: gray;
    transition: 0.5s;
}
.contact-form container .box .icon .fa {
    font-size: 4em;
    line-height:100px;
}
.contact-form .box:hover .icon {
    transform:scale(0);
}
.contact-form .box .details {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    transition:0.5s;
    transform:scale(2);
    opacity:0;
}
.contact-form .box:hover .details {
    transform:scale(1);
    opacity:1;
}
.contact-form .box .details h3 {
    margin:0;
    padding:0;
    line-height:100px;
    font-size:24px;
    color:#fff;
}


/*Animation*/
.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
}
.swing img {
    border: 5px solid #f8f8f8;
    display: block;
}
.swing:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

